
<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup" #formDirective="ngForm">
      <ng-template matStepLabel>Choose Employee</ng-template>
      <div class="row">
        <div class="col-md-2">
          <mat-form-field appearance="fill">
            <mat-label>Employee Name</mat-label>
            <mat-select formControlName="employeeId" placeholder="Select Employee">
              <mat-option value="1">Employ 1</mat-option>
              <mat-option value="2">Employ 2</mat-option>
              <mat-option value="3">Employ 3</mat-option>
              <mat-option value="4">Employ 4</mat-option>
              <mat-option value="5">Employ 5</mat-option>
              <mat-option value="6">Employ 6</mat-option>
              <mat-option value="7">Employ 7</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2 mr30">
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" [min]="minDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker  #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="fill">
            <mat-label>Conference Room</mat-label>
            <mat-select formControlName="room" placeholder="Select Room">
              <mat-option value="1">Room 1</mat-option>
              <mat-option value="2">Room 2</mat-option>
              <mat-option value="3">Room 3</mat-option>
              <mat-option value="4">Room 4</mat-option>
              <mat-option value="5">Room 5</mat-option>
              <mat-option value="6">Room 6</mat-option>
              <mat-option value="7">Room 7</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
      </div> 
      <div class="row">
        <div class="col-md-12">
          <button (click)="getExistingBookings()" mat-button color="primary" matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Choose slots</ng-template>
      <div class="row">
        <div class="col-md-8">
          <div class="col-md-12" *ngFor="let item of TimeSlots">
            <h3><strong>{{item.title}}</strong></h3>
            <button (click)="bookSlot(obj)"  mat-button color="primary" class="mr2" *ngFor="let obj of item.slots">{{obj}}</button>
          </div>
        </div>
        <div class="col-md-4">
          <strong>Selected Timeslot: {{firstFormGroup.get('date').value | date: 'dd-MM-yyyy'}} {{secondFormGroup.get('slot').value}}</strong>
          <h4>Previously booked Sessions</h4>
          <div class="row">
            <div class="col-md-12">
              <ng-container *ngFor="let item of existingBookings">
                <h4>Room {{item.room}}</h4>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="primary" *ngFor="let obj of item.slots">{{obj.slot}}
                    <mat-icon (click)="removeSlot(slot)" style="cursor: pointer;">close</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button (click)="confirmSlot()" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Congratulations! booking completed</p>
    <div>
      <button mat-button (click)="stepper.reset(); resetForm();">Book another room</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>